<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>

    <div class="container-md">
        <h1>Contatos</h1>
        <div id="myapp">
            <div id="agenda-download-container">
              <a href="http://localhost:8080/agenda/contato/docx" style="text-decoration: none;" download="agenda.docx">
                <img src="https://img.icons8.com/plasticine/100/download.png" alt="Download">Baixar Agenda
              </a>
            </div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>
                    <label>Nome</label>
                  </th>
                  <th>
                    <label>Ramal</label>
                  </th>
                  <th>
                    <label>Setor</label>
                  </th>
                </tr>
              </thead>
              <tbody class="table-striped">
                <tr v-for="contato in contatos">
                  <th scope="row">{{ contato.nome }}</th>
                  <td>{{ contato.ramal }}</td>
                  <td>{{ contato.setor }}</td>
                </tr>
              </tbody>
              <tfoot>
                <nav aria-label="Paginaçāo da Tabela de Contatos">
                  <ul class="pagination pagination-sm">
                    <li v-for="pagina in totalDePaginas" >
                      <label class="page-link" @click="getContatos(pagina, resultadosPorPagina)">{{ pagina }}</span>
                    </li>
                  </ul>
                </nav>
                <div style="width: 158px">
                  <label for="select-resultados-por-pagina">Resultados por Página</label>
                  <select v-model="resultadosPorPagina" id="select-resultados-por-pagina" class="form-select" @change="getContatos(pagina, resultadosPorPagina)">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                  </select>
                </div>
                <div v-if="contatos.length && contatos.length != resultadosPorPagina">
                  <label>Resultados nesta Página {{ contatos.length }}</label>
                </div>
              </tfoot>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./index.js"></script>
  </body>
</html>